
  <section class="text-center text-lg-start">

  <div class="container">

      <div class="row gx-5 pad">
        <div class="col">
         <div class="p-3 border bg-light">You will be able to build robust information systems tailored for companies. You will be able to develop the back-end of web applications and command-line programs or web-services.</div>
        </div>


    </div>


    <div class="row">
      <div class="col-6">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/eIrMbAQSU34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Module Java for beginners</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Duration 02:30:48</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/8SGI_XS5OPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Module JPA Spring Data</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Duration 01:02:02</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/Ch163VfHtvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Module Spring Boot</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Duration 00:50:55</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <iframe src="https://www.youtube.com/embed/oRFCeRVWCNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Module REST controller</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Duration 00:07:55</a>
          </div>
        </div>
      </div>
    </div>


  </div>
  </section>

