
  <section class="text-center text-lg-start">
    <div class="container">
     
  
  <div class="container">
    <div class="row">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facilis eius quibusdam tempora dicta itaque id sequi velit error enim. Eligendi alias quasi voluptatibus ipsum veniam quam aliquid saepe porro!</p>
    </div>
    <div class="row row-cols-2">
      <div class="col">
          <h3>Module Java for beginners</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eIrMbAQSU34?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="col">
             <h3>Module JPA Spring Data</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8SGI_XS5OPw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="col">
          <h3>Module Spring Boot</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ch163VfHtvA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="col">
          <h3>Module REST controller </h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oRFCeRVWCNE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
    </div>
  </section>
  
